@import '../style/variable.scss';

html, body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  background-color: $color-background;
  -webkit-text-size-adjust: none; // 禁用ios和android的字体大小自动调节功能
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 禁用手机系统自带点击超链接的高亮，设置颜色的alpha值为0
}
  
a  {
  text-decoration: none;
  color: rgb(77, 85, 93);
}
 
p,h4,h5,h2, h3,h1, ul,li{
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  border: none;
}

.clearFix  {
  display: inline-block;
  &:after  {
    display: block;
    content: '.';
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  } 
}

li {
  list-style-type: none;
}
 
.icon {
  font-size: 2.5rem;
  color: $color-theme;
}

.pa  {
  position: absolute;
}
  
::-webkit-input-placeholder { /* WebKit browsers */
  color: $color-text-self;
}

